<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hosu.in.pic.mapper.BoardMapper">

	<select id="getList" resultType="hosu.in.pic.vo.BoardVO">
	<![CDATA[
		select board_num, board_title, board_content, board_date, board_group, board_step, board_indent from board order by board_group desc, board_step asc
	]]>
	</select>
	
	<insert id="insertBoard">
	<![CDATA[
		insert into board (board_num, board_title, board_content, board_date, board_group, board_step, board_indent) values (board_seq.nextval, #{board_title}, #{board_content}, sysdate, board_seq.currval, 0, 0)
	]]>
	</insert>
	
	<select id="getCtt" resultType="hosu.in.pic.vo.BoardVO">
	<![CDATA[
		select*from board where board_num= #{board_num}
	]]>
	</select>
	
	<delete id="delete">
	<![CDATA[
		delete from board where board_num= #{board_num}
	]]>
	</delete>
</mapper>