<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hosu.in.pic.mapper.BoardMapper">

	<select id="getList" resultType="hosu.in.pic.vo.BoardVO">
	<![CDATA[
		select board_num, board_name, board_title, board_content, board_date, board_hit, board_group, board_step, board_indent from board order by board_group desc, board_step asc
	]]>
	</select>
	
</mapper>